{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<h1>Pothole Reports</h1>
<div id="map"></div>
<br>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Location</th>
            <th>Severity</th>
            <th>Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for report in reports %}
        <tr>
            <td>{{ report.Id }}</td>
            <td>{{report.location }}</td>
            <td>{{ report.severity }}</td>
            <td>{{ report.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/dash.js') }}"></script>
{% endblock %}